* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #f7c600, #111);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 450px;
  background: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

h1 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 25px;
  color: #555;
}

input,
textarea {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
}

textarea {
  height: 130px;
  resize: none;
}

.stars {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-bottom: 20px;
}

.stars input {
  display: none;
}

.stars label {
  font-size: 42px;
  color: #ccc;
  cursor: pointer;
  transition: 0.2s;
}

.stars label:hover,
.stars label:hover ~ label,
.stars input:checked ~ label {
  color: #f7c600;
}

button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background: #111;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #333;
}

#successMessage {
  display: none;
  margin-top: 20px;
  color: green;
  font-weight: bold;
}
